.nav a {
    display: inline-block;
    padding: 5px; 
    position: relative;
    margin: 10px;
    text-decoration: none;
    &:after {
        display: block;
        position: absolute;
        content: ' ';
        border-bottom: 3px solid black;
    }
}

