textarea {
    width: 500px;
    height: 250px;
    margin: 15px;
}
.light textarea{
    background-color:white;
    color: #333;
}
.dark textarea{
    background-color: #333;
    color: white;
}
.dark #counter{color: white;}