.badge {
    background: linear-gradient(217deg, crimson, pink);
    border-radius: 50%;
    box-shadow: 0 0 5px #777;
    height: 300px;
    margin: 100px;
    position:relative;
    width: 300px;
    .badge-ribbon {
        align-items: center;
        background: lighten(crimson, 30);
        box-shadow: 0 3px 5px #777;
        color: white;
        display: flex;
        font-size: 29px;
        height: 50px;
        justify-content: center;
        left: -50px;
        position: absolute;
        text-shadow: 0 0 5px #777;
        top: 120px;
        width: 400px;
        z-index: 10;
    }
}